@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(/img/index.gif);
    overflow: hidden;
       min-height:100vh;
       margin-bottom: -500px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: white;
}

#Videogame {
    font-size: 150px;
    font-family: "Birthstone Bounce", cursive;
    text-shadow: 0px 0px 15px black;
}

.descricao {
    margin-top: 550px;
    font-family: "Raleway", sans-serif;
     margin-top: 10px;
    font-size: 26px;
    line-height: 1.5;
}

.botoes {
    margin-top: 35px;
}

.botao {
    display: inline-block;
    padding: 14px 32px;
    margin: 10px;
    background-color: #d0acc19d;
    color: #000000;
    text-decoration: none;
    border-radius: 20px;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    transition: 0.3s ease;
    box-shadow: 10px 3px 10px rgba(0, 0, 0, 0.25);
}

.botao:hover {
    background-color: #7b5647;
    transform: translateY(-4px);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.35);
}