*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
min-height:100vh;
display:flex;
justify-content:flex-start;
align-items:center;
padding:60px 80px;
background:
linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.8)),
url("https://i.pinimg.com/originals/3c/ff/11/3cff115cf89c901783c3804df9d657ba.gif");
background-size:cover;
background-position:center;
background-attachment:fixed;
font-family:Arial,Helvetica,sans-serif;
color:#fff;
}

main{
width:90%;
max-width:650px;
padding:40px;
background:rgba(15,20,30,.55);
backdrop-filter:blur(14px);
border:2px solid rgba(0,255,170,.4);
border-radius:20px;
box-shadow:0 15px 40px rgba(0,0,0,.6);
}

h1{
font-size:4.2rem;
font-weight:900;
color:#fff;
letter-spacing:3px;
text-transform:uppercase;
text-shadow:0 0 15px #5498dc,0 0 35px rgba(89, 204, 168, 0.5);
margin-bottom:20px;
}

.logo{
text-decoration:none;
display:inline-block;
}

.logo h1{
transition:.3s;
cursor:pointer;
}

.logo h1:hover{
transform:scale(1.05);
text-shadow:
0 0 15px #00ffae,
}

.descricao{
font-size:1.15rem;
line-height:1.8;
margin-bottom:40px;
color:#ddd;
text-shadow:0 0 8px rgba(0,0,0,.8);
}

.menu{
display:flex;
gap:30px;
flex-wrap:wrap;
}

.botoes{
display:flex;
flex-direction:column;
gap:20px;
}

.botoes button{
width:270px;
padding:16px;
border:none;
border-radius:100px;
cursor:pointer;
font-size:16px;
font-weight:bold;
color:#fff;
background:linear-gradient(135deg,#00ffae62,#008cffa8);
transition:.3s;
}

.botoes button:hover{
transform:translateY(-5px) scale(1.03);
box-shadow:0 0 25px rgba(0,255,174,.8);
filter:brightness(1.1);
}

.botoes button:active{
transform:translateY(2px);
}

@media(max-width:768px){
body{
padding:30px 20px;
}

main{
width:100%;
padding:30px 20px;
}

h1{
font-size:2.8rem;
}

.descricao{
font-size:1rem;
}

.botoes{
width:100%;
}

.botoes button{
width:100%;
}
}