@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:url("https://i.pinimg.com/originals/ca/0d/08/ca0d08457ed415793173b8ea8d5d4a36.gif");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    font-family:"Saira", sans-serif;
}

main{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    padding-bottom:40px; 
}

.menu-box{
    width:940px;
    height:110px;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    padding-top:20px;
    background:rgba(213, 209, 209, 0);
    backdrop-filter:blur(18px);
    border-radius:30px;
    box-shadow:
        0 15px 35px rgba(0,0,0,.45);
}

.menu{
    display:flex;
    gap:45px;
}

.botao{
    width:200px;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:none;
    border-radius:50px;
    cursor:pointer;
    background:linear-gradient(
        135deg,
        #650000 0%,
        #a80000 45%,
        #e53935 100%
    );
    position:relative;
    overflow:hidden;
    transition:.35s ease;
    box-shadow:
        0 10px 20px rgba(0,0,0,.45);
}

.botao::before{
    content:"";
    position:absolute;
    top:0;
    left:-120%;
    width:60%;
    height:100%;
    background:linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,.35),
        transparent
    );

    transition:.6s;
}

.botao:hover::before{
    left:150%;
}

.botao:hover{
    transform:translateY(-6px) scale(1.05);

    box-shadow:
        0 0 20px rgba(255,0,0,.7),
        0 0 40px rgba(255,0,0,.45),
        0 12px 30px rgba(0,0,0,.5);
}

.botao:active{
    transform:scale(.98);
}

.botao h3{
    font-family:"Saira", sans-serif;
    font-size:1.35rem;
    font-weight:800;
    text-transform:uppercase;
    letter-spacing:2px;
    color:white;
}

@media (max-width:768px){

    body{
        padding:20px;
    }

    main{
        width:100%;
        height:auto;
        padding:40px 20px;
        justify-content:center;
    }

    .menu{
        flex-direction:column;
        margin-bottom:0;
    }

    .botao{
        width:100%;
        max-width:320px;
    }
}