@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:url("https://i.pinimg.com/originals/ca/0d/08/ca0d08457ed415793173b8ea8d5d4a36.gif");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    font-family:"Saira", sans-serif;
}

main{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    padding-bottom:40px; 
}

.menu-box{
    width:940px;
    height:110px;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    padding-top:20px;
    background:rgba(213, 209, 209, 0);
    backdrop-filter:blur(18px);
    border-radius:30px;
    box-shadow:
        0 15px 35px rgba(0,0,0,.45);
}

.menu{
    display:flex;
    gap:45px;
}

.botao{
    width:200px;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:none;
    border-radius:50px;
    cursor:pointer;
    background:linear-gradient(
        135deg,
        #650000 0%,
        #a80000 45%,
        #e53935 100%
    );
    position:relative;
    overflow:hidden;
    transition:.35s ease;
    box-shadow:
        0 10px 20px rgba(0,0,0,.45);
}

.botao::before{
    content:"";
    position:absolute;
    top:0;
    left:-120%;
    width:60%;
    height:100%;
    background:linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,.35),
        transparent
    );

    transition:.6s;
}

.botao:hover::before{
    left:150%;
}

.botao:hover{
    transform:translateY(-6px) scale(1.05);

    box-shadow:
        0 0 20px rgba(255,0,0,.7),
        0 0 40px rgba(255,0,0,.45),
        0 12px 30px rgba(0,0,0,.5);
}

.botao:active{
    transform:scale(.98);
}

.botao h3{
    font-family:"Saira", sans-serif;
    font-size:1.35rem;
    font-weight:800;
    text-transform:uppercase;
    letter-spacing:2px;
    color:white;
}

@media (max-width:768px){

    body{
        padding:20px;
    }

    main{
        width:100%;
        height:auto;
        padding:40px 20px;
        justify-content:center;
    }

    .menu{
        flex-direction:column;
        margin-bottom:0;
    }

    .botao{
        width:100%;
        max-width:320px;
    }
}

.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:flex-start;
    background:rgba(0,0,0,.45);
    z-index:999;
}

.modal-conteudo{
    position:relative;
    width:85%;
    max-width:1050px;
    margin-top:35px;
    background:linear-gradient(
        180deg,
        #181818 0%,
        #111111 100%
    );
    border-top:5px solid #d40000;
    border-left:1px solid #444;
    border-right:1px solid #444;
    border-bottom:1px solid #444;
    border-radius:10px;
    padding:30px 40px;
    color:white;
    box-shadow:
        0 15px 40px rgba(0,0,0,.75),
        0 0 20px rgba(212,0,0,.35);
    animation:modalGTA .35s ease;
}

@keyframes modalGTA{

    from{
        transform:translateY(-120px);
        opacity:0;}
    to{
        transform:translateY(0);
        opacity:1;}
}

.modal-conteudo h2{
    color:#ff2d2d;
    font-size:2rem;
    margin-bottom:18px;
    text-transform:uppercase;
    letter-spacing:2px;
}

.modal-conteudo p{
    font-size:1.08rem;
    line-height:1.8;
    color:#efefef;
}

.modal-conteudo strong{
    color:#ff4a4a;
}

.fechar{
    position:absolute;
    right:20px;
    top:15px;
    color:white;
    font-size:35px;
    font-weight:bold;
    cursor:pointer;
    transition:.25s;
}

.fechar:hover{
    color:#ff2d2d;
    transform:scale(1.2);

}

.modal-conteudo::before{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:34px;
    background:#d40000;
    color:white;
    display:flex;
    align-items:center;
    padding-left:18px;
    font-size:.9rem;
    font-weight:700;
    letter-spacing:3px;
    border-radius:8px 8px 0 0;

}

.modal-conteudo h2{
    margin-top:25px;

}

@media(max-width:768px){

    .modal-conteudo{
        width:94%;
        margin-top:20px;
        padding:25px;

    }

    .modal-conteudo h2{
        font-size:1.5rem;

    }

    .modal-conteudo p{
        font-size:.95rem;

    }

}