*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{


font-family:Arial, sans-serif;

color:white;


background:

linear-gradient(
rgba(0,0,0,.45),
rgba(0,0,0,.8)
),

url("https://i.pinimg.com/originals/74/d3/7c/74d37c93fc064534d0e7d05443566b45.gif");


background-size:cover;

background-attachment:fixed;


}



header{

text-align:center;

padding:40px;


}



header h1{


font-family:'Press Start 2P';

font-size:35px;

color:#ff3030;


text-shadow:

4px 4px #ffd700;


margin:30px;


}



header p{

font-size:20px;

}



.voltar{


display:inline-block;

padding:12px 20px;


background:#2196f3;

border-radius:10px;


color:white;

text-decoration:none;


font-family:'Press Start 2P';

font-size:11px;


}




.principal{
width:90%;
max-width:900px;
margin:auto;
background:
rgba(255,255,255,.15);
backdrop-filter:blur(10px);
border:
4px solid #ffd700;
border-radius:25px;
padding:40px;
display:flex;
align-items:center;
gap:40px;
}


.mario{
width:200px;
animation:pulo 2s infinite;
}




.conteudo h2{


font-family:'Press Start 2P';

font-size:18px;

color:#ffd700;

margin-bottom:20px;


}



.conteudo p{


font-size:18px;

line-height:1.7;


}



.botoes{


margin-top:40px;


display:flex;

gap:20px;


}



button{


padding:18px 25px;


border:none;


border-radius:15px;


background:#e60012;


color:white;


font-family:'Press Start 2P';


font-size:12px;


cursor:pointer;


box-shadow:

0 8px #8b0000;


transition:.3s;


}



button:hover{


transform:translateY(-5px);


background:#ff3030;


}






.modal{


display:none;


position:fixed;


top:0;

left:0;


width:100%;

height:100%;


background:

rgba(0,0,0,.75);


justify-content:center;

align-items:center;


}



.modal-box{


background:white;


color:#222;


width:90%;

max-width:500px;


padding:35px;


border-radius:20px;


border:

5px solid #ffd700;


animation:entrada .4s;


}



.modal-box h2{


color:#e60012;

margin-bottom:20px;


}



.modal-box span{


float:right;

cursor:pointer;

font-size:25px;


}



footer{


text-align:center;

padding:25px;

margin-top:50px;


background:#111;


}




@keyframes pulo{


50%{

transform:translateY(-15px);

}


}



@keyframes entrada{


from{

transform:scale(.5);

opacity:0;

}


to{

transform:scale(1);

opacity:1;

}


}





@media(max-width:700px){


.principal{

flex-direction:column;

text-align:center;

}


.botoes{

flex-direction:column;

}


}

.modal{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.35);
    z-index:9999;
    justify-content:flex-start;
    align-items:center;
    padding-left:40px;
}

.modal-conteudo{
    width:420px;
    max-width:calc(100vw - 80px);
    min-height:350px;
    background:#28a745;
    border:8px solid #1f7d32;
    border-radius:0 0 20px 20px;
    padding:80px 25px 25px;
    position:relative;
    box-shadow:
        0 0 30px rgba(0,0,0,.4);
    animation:canoMario .4s ease;
}

.modal-conteudo::before{
    position:absolute;
    top:-45px;
    left:-25px;
    content:"";
    width:calc(100% + 50px);
    height:60px;
    background:linear-gradient(
        90deg,
        #2fd648,
        #69ff7e,
        #2fd648
    );
    border:6px solid #0c5f1c;
    border-radius:15px;
    z-index:1;
}

.modal-conteudo h2,
.modal-conteudo p,
.modal-conteudo strong,
.fechar{
    position:relative;
    z-index:2;
}

.modal-conteudo h2{
    text-align:center;
    font-family:'Press Start 2P', cursive;
    font-size:1.1rem;
    color:white;
    margin-bottom:25px;
    text-shadow:
        3px 3px 0 #0c5f1c;
}

.modal-conteudo p{
    color:white;
    line-height:1.8;
    font-size:1rem;
}

.modal-conteudo strong{
    color:#ffe600;
}

.fechar{
    position:absolute;
    top:10px;
    right:18px;
    color:white;
    font-size:2rem;
    cursor:pointer;
}

.fechar:hover{
    transform:scale(1.15);
}

@keyframes canoMario{

    from{
        opacity:0;
        transform:translateY(100px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

.modal{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.35);
    z-index:9999;
    justify-content:flex-start;
    align-items:center;
    padding-left:40px;
}

.modal-conteudo{
    width:420px;
    max-width:calc(100vw - 80px);
    min-height:350px;
    background:#28a745;
    border:8px solid #1f7d32;
    border-radius:0 0 20px 20px;
    padding:80px 25px 25px;
    position:relative;
    box-shadow:
        0 0 30px rgba(0,0,0,.4);
    animation:canoMario .4s ease;
}

.modal-conteudo::before{
    position:absolute;
    top:-45px;
    left:-25px;
    content:"";
    width:calc(100% + 50px);
    height:60px;
    background:linear-gradient(
        90deg,
        #2fd648,
        #69ff7e,
        #2fd648
    );
    border:6px solid #0c5f1c;
    border-radius:15px;
    z-index:1;
}

.modal-conteudo h2,
.modal-conteudo p,
.modal-conteudo strong,
.fechar{
    position:relative;
    z-index:2;
}

.modal-conteudo h2{
    text-align:center;
    font-family:'Press Start 2P', cursive;
    font-size:1.1rem;
    color:white;
    margin-bottom:25px;
    text-shadow:
        3px 3px 0 #0c5f1c;
}

.modal-conteudo p{
    color:white;
    line-height:1.8;
    font-size:1rem;
}

.modal-conteudo strong{
    color:#ffe600;
}

.fechar{
    position:absolute;
    top:10px;
    right:18px;
    color:white;
    font-size:2rem;
    cursor:pointer;
}

.fechar:hover{
    transform:scale(1.15);
}

@keyframes canoMario{

    from{
        opacity:0;
        transform:translateY(100px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}