@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vibes&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:url("https://i.pinimg.com/originals/76/cc/71/76cc71fb45866a23a21ba5124743da4e.gif");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;

    font-family:Arial, Helvetica, sans-serif;
    color:white;
}

main{
    width:90%;
    max-width:1000px;
    text-align:center;
}

h1{
    font-size:4.5rem;
    font-weight:900;
    color:#ffcb05;
    margin-bottom:20px;
    letter-spacing:3px;
    font-family: "BBH Bartle", sans-serif;
}

.descricao{
    font-size:1.2rem;
    margin-bottom:50px;
    text-shadow:0 0 10px black;
}

.menu{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.botao{
    width:190px;
    height: 50px;
    background:rgba(0,0,0,.75);
    border:3px solid #ffcb05;
    border-radius:20px;
    color:white;
    cursor:pointer;
    transition:.3s;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:0 0 20px rgba(0,0,0,.5);
     font-family: "Vibes", system-ui;
}

.botao div{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
}

.botao div{
    font-size:2rem;
}

.botao h3{
    font-size:1.4rem;
}

.botao:hover{
    transform:translateY(-10px) scale(1.05);
    background:#ffcb05;
    color:#2a75bb;
    box-shadow:
        0 0 20px #ffcb05,
        0 0 40px #ffcb05;
}

.modal{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.7);
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.modal-conteudo{
    width:90%;
    max-width:800px;
    background:#d62828;
    border:8px solid #8b0000;
    border-radius:30px;
    padding:90px 40px 40px;
    position:relative;
    box-shadow:
        0 0 30px rgba(0,0,0,.6);
    overflow:hidden;
}

.modal-conteudo::before{
    content:"";
    position:absolute;
    top:75px;
    left:30px;
    right:30px;
    bottom:30px;
    background:#c7f9cc;
    border:4px solid #444;
    border-radius:20px;
    z-index:1;
}

.modal-conteudo::after{
    content:"";
    position:absolute;
    top:18px;
    left:20px;
    width:45px;
    height:45px;
    background:#4cc9f0;
    border-radius:50%;
    box-shadow:
        70px 0 0 #ffcb05,
        130px 0 0 #2a75bb;
    z-index:3;
}

.modal-conteudo h2,
.modal-conteudo p,
.modal-conteudo ul{
    position:relative;
    z-index:2;
}

.modal-conteudo h2{
    color:#1d3557;
    text-align:center;
    margin-bottom:20px;
    font-family: "Vibes", system-ui;
}

.modal-conteudo p,
.modal-conteudo ul{
    color:#222;
    line-height:1.8;
}

.fechar{
    position:absolute;
    top:15px;
    right:20px;
    z-index:4;
    font-size:2rem;
    color:white;
    cursor:pointer;
}