@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://i.pinimg.com/originals/b5/55/85/b55585ae03a884c89934debdde817a9d.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

main {
    width: 90%;
    max-width: 900px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logo {
    text-decoration: none;
}

.logo h1 {
    cursor: pointer;
}

h1 {
    font-size: 5rem;
    font-weight: 900;
    color: #08441fdd;
    letter-spacing: 4px;
    font-family: "BBH Bartle", sans-serif;
    cursor: pointer;
    transition: .3s;
    text-shadow:
        0 0 15px black,
}

h1:hover {
    color: #245e3a;
    transform: scale(1.05);
}

.descricao {
    max-width: 600px;
    font-size: 1.3rem;
    line-height: 1.6;
    text-shadow: 0 0 10px black;
}

.botao {
    width: 220px;
    height: 60px;

    background: rgba(18, 55, 30, .85);
    border: 2px solid #2E8B57;
    border-radius: 35px;

    color: #E8F5E9;
    font-size: 1.2rem;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: .35s;

    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.botao h3 {
    font-size: 1.3rem;
}

.botao:hover {
    background: #113923;
    color: white;
    transform: translateY(-8px) scale(1.05);
    box-shadow:
        0 0 20px #175732c3,
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .75);
    backdrop-filter: blur(6px);
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: fade .3s ease;
}

.modal-conteudo.mapa {
    width: 90%;
    max-width: 650px;
    padding: 35px;
    background:
        linear-gradient(rgba(255, 245, 220, .95),
            rgba(235, 220, 180, .95));
    border: 5px solid #6d4c2d;
    border-radius: 12px;
    color: #3d2b1f;
    box-shadow:
        0 0 40px rgba(0, 0, 0, .6);
    position: relative;
    animation: subir .4s ease;
}

.modal-conteudo h2 {
    font-family: "BBH Bartle", sans-serif;
}

.modal-conteudo h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
}

.modal-conteudo p {
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: justify;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
}

.fechar:hover {
    transform: rotate(90deg);
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes subir {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

